* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #f5f5f5;
    background-color: pink;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 25px;
}

/* Category Title */
.category-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

/* Filter Buttons */
.filter-buttons {
    text-align: center;
    margin-bottom: 30px;
}

.filter-btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background: #ddd;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.filter-btn.active,
.filter-btn:hover {
    background: #222;
    color: white;
}

/* Gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.image-box {
    overflow: hidden;
    border-radius: 10px;
}

.image-box img {
    width: 100%;
    display: block;
    transition: 0.4s;
}

/* Hover Effects */
.image-box:hover img {
    transform: scale(1.1);
    filter: brightness(70%);
}

/* Lightbox */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.lightbox-img {
    width: 70%;
    max-width: 700px;
    border-radius: 12px;
}

.close {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

/* NEXT / PREV BUTTONS */
.prev,
.next {
    position: absolute;
    top: 50%;
    font-size: 50px;
    color: white;
    cursor: pointer;
    padding: 10px;
    user-select: none;
}

.prev { left: 60px; }
.next { right: 60px; }

.prev:hover,
.next:hover {
    color: #ffeb3b;
}
